@import url('https://fonts.googleapis.com/css2?family=Merienda+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}


header {
    background-image: url('../img/jumbotron.png');
    background-size: cover;
    background-position: center;
}

/* navbar */
.navbar {
    z-index: 100;
    transition: all .1s ease-in-out;
}

.navbar ul li {
    padding-right: 8px;
}

.navbar .navbar-toggler {
    box-shadow: none;
    color: #24A19C;
    font-size: 1.5em;
}

.navbar .navbar-brand {
    font-family: 'Merienda One', cursive;
    color: #24A19C;
}

.navbar ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.navbar .nav-item .nav-link {
    color: #24A19C;
    position: relative;
    transition: linear .2s;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    border-top: 2px transparent;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
}

.navbar .nav-item .nav-link:hover::before {
    width: 100%;
    border-top: 2px solid;
    transition: width .2s linear;
}

.navbar .nav-item .nav-link::after {
    content: '';
    position: absolute;
    border-top: 2px transparent;
    height: 0;
    width: 0;
    bottom: 0;
    right: 0;
}

.navbar .nav-item .nav-link:hover::after {
    width: 100%;
    border-top: 2px solid;
    transition: width .2s linear;
}

#mainNav.active {
    background-color: #24A19C;
}

#mainNav.active .navbar-brand,
#mainNav.active .navbar-toggler {
    color: #fff;
}

#mainNav.active .nav-item .nav-link {
    color: #fff;
    opacity: 80%;
}

#mainNav.active .nav-item .nav-link::before,
#mainNav.active .nav-item .nav-link::after {
    border: none;
    transition: none;
}

#mainNav.active .nav-item .nav-link:hover,
#mainNav.active .nav-item .nav-link.active {
    opacity: 1;
    border: 0;
    transform: scale(1.1);
}

/* landing page */
.jumbotron .row {
    height: 56.5vmax;
}

.jumbotron img {
    height: 50vmax;
    position: absolute;
    bottom: 0;
}

.jumbotron h2,
.jumbotron h1 {
    font-family: 'Merienda One', cursive;
}

.jumbotron h2 {
    font-size: 2.5vmax;
}

.jumbotron h1 {
    font-size: 3vmax;
}

.jumbotron span {
    color: #24A19C;
}

.jumbotron .description {
    opacity: 50%;
    font-size: 1.2vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.jumbotron .icon-button {
    margin-top: 8vmax;
}

.jumbotron .email-btn {
    background-color: #24A19C;
    color: white;
    border-radius: 0.8vmax;
    padding: 0.8vmax 1.5vmax;
    font-size: 1.2vmax;
}


.jumbotron .email-btn:hover {
    transition: all .2s ease;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translate(-3px, -3px);
}

.jumbotron .btn-social {
    font-size: 2.2vmax;
    padding-left: 1.5vmax;
}

.jumbotron i.fa-whatsapp,
.jumbotron i.fa-instagram {
    color: #000;
    transition: all .2s ease;
}

.jumbotron i.fa-whatsapp:hover,
.jumbotron i.fa-instagram:hover {
    transition: all .2s ease;
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.55));
    transform: translate(-3px, -3px);
}

/* project */

.project {
    height: 56.5vmax;
    background: url('../img/bg_project.png');
    background-color: #24A19C;
    background-size: cover;
    background-position: center;
}

.project .container {
    padding: 2.5% 8% 0;
}

.project span {
    font-size: 2.2vmax;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.project .container ul {
    font-size: 1.2vmax;
    font-weight: 600;
    width: 29vmax;
    float: right;
}

#list li {
    opacity: 50%;
}

#list li.active {
    opacity: 1;
    transition: all .5s ease 0s;
}

#list li hr {
    height: 3px;
    color: #fff;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
}

#list li.active hr {
    opacity: 1;
    position: relative;
    left: 50%;
    transform-origin: 50% 50%;
    transform: translateX(-50%) scaleX(1);
    transition: transform 500ms;
}

.slick-slider img {
    height: 22vmax;
}

.slick-slider .items {
    font-size: 0.9vmax;
    padding: 10vmax 0;
    transition: all linear 0.9s;
}

.slick-slider h5 {
    font-size: 1.2vmax;
}

.slick-slider .slider.slick-center {
    opacity: 1;
}

.slick-slider .slider.slick-center .items {
    transform: scale(1.3);
}

.slick-slider .slider {
    opacity: 50%;
    margin: 0 50px;
    transition: all linear 0.9s;
}

/* about */
aside {
    background-image: url('../img/bg_about.png');
    background-size: cover;
    /* border: 1px solid red; */
}

.about .image {
    padding: 5%;
}

.about img {
    border-radius: 50px;
    filter: drop-shadow(8px 8px 0px #24A19C);
}

.about .content {
    padding: 2.5% 3%;
    border-radius: 20px;
}

.about .content h3 {
    color: #24A19C;
    font-size: 2.2vmax;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.about .content h6 {
    font-size: 0.9vmax;
    font-family: 'Roboto', sans-serif;
    opacity: 70%;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 15px;
    border-bottom: 0.3vmax solid #24A19C;
}

.about .content .button {
    margin-top: 10%;
}

.about .description {
    opacity: 50%;
    font-size: 1vmax;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.about .content .button .btn {
    padding: 1.5% 2.5%;
}

.about .content .btn-primary {
    background-color: #24A19C;
    border-color: #24A19C;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1vmax;
}

.about .content .btn-primary:hover {
    transition: all .2s ease;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translate(-3px, -3px);
}

.about .content .btn-outline-primary {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1vmax;
    color: #24A19C;
    border: 1px solid #24A19C;
}

.about .content .btn-outline-primary:hover {
    background-color: #24A19C;
    color: white;
}

/* service */
.service {
    background: linear-gradient(transparent 0%, transparent 65%, #24A19C 65%, #24A19C 100%);
}

.service h2 span {
    position: relative;
    font-size: 2.2vmax;
    color: #24A19C;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.service h2::before {
    content: 'Service';
    font-size: 2.2vmax;
    position: absolute;
    font-weight: bold;
    transform: translate(40%, 0) scale(5);
    font-family: 'Poppins', sans-serif;
    opacity: 10%;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #24A19C;
    -webkit-text-stroke-width: 0.2px;
}

.service .row>div {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.service .card {
    min-height: 260px;
    max-width: 227px;
    border-radius: 30px;
}

.service .card:hover {
    background-color: #24A19C;
    color: #fff;
    transition: all .3s ease-in-out;
}

.service .card-body i {
    color: #24A19C;
}

.service .card:hover .card-body i {
    color: #fff;
    transition: all .3s ease-in-out;
}

.service .card-body h4 {
    font-weight: bold;
}

@media (max-width: 767.98px) {
    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar .navbar-collapse.show {
        text-align: center;
    }

    .navbar .navbar-toggler i.fa-times,
    #mainNav.show .navbar-toggler i.fa-bars {
        display: none;
    }

    #mainNav.show .navbar-toggler i.fa-times {
        display: block;
    }

    #mainNav.show {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        background-color: #24A19C;
        border-radius: 0 0 50px 50px;
    }

    #mainNav.show .navbar-brand,
    #mainNav.show .navbar-toggler {
        color: #fff;
    }

    #mainNav.show .nav-item .nav-link {
        color: #fff;
        opacity: 80%;
    }

    #mainNav.show .nav-item .nav-link::before,
    #mainNav.show .nav-item .nav-link::after {
        border: none;
        transition: none;
    }

    #mainNav.show .nav-item .nav-link:hover,
    #mainNav.show .nav-item .nav-link.active {
        opacity: 1;
        border: 0;
        transform: scale(1.1);
    }

    /* jumbotron */
    .jumbotron img {
        right: 0;
    }

    .jumbotron .description {
        width: 65%;
    }

    .jumbotron .image {
        width: 0%;
    }

    .jumbotron .content.col {
        flex: none;
        width: 70%;
    }

    .project .container ul {
        padding: 5px 0;
        position: absolute;
    }

    .slick-slider .slider {
        margin: 0 2vmax;
    }

    .slick-slider img {
        height: 18vmax;
    }

    .about img {
        height: 300px;
    }

    .about .content {
        text-align: center;
    }

    .service h2::before {
        transform: translate(20%, 0) scale(5);
    }
}

.footer small a {
    opacity: 70%;
    transition: all .5 ease-in-out;
}

.footer small a:hover {
    opacity: 1;
    transition: all .5 ease-in-out;
}

.footer div a {
    color: #fff;
    opacity: 70%;
    transition: all .2s ease-in-out;
}

.footer div a:hover {
    opacity: 1;
    transition: all .2s ease-in-out;
}

/* ::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: #ddd;

}

::-webkit-scrollbar-thumb {
    background: #24A19C;
} */

/*